[mysqld]
ndbcluster
ndb-connectstring=mysql-manager-1;mysql-manager-2;mysql-manager-3
user=mysql
default_storage_engine=ndbcluster     
[mysql_cluster]
ndb-connectstring=mysql-manager-1;mysql-manager-2;mysql-manager-2
